@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}



body {
   font-family: Arial, Helvetica;
   background:-webkit-linear-gradient(90deg, #f3dfe3 10%, #dadbeb 90%);

}

.header {
   width: 100%;
   display: block;
   
}

.animate__animated{
  justify-content: center;
   display: flex;
   background: linear-gradient(90deg, rgb(167, 103, 167),rgb(1, 1, 37));
   border-bottom: 4px solid rgb(88, 11, 88);
   color: rgb(13, 14, 13);
}

.nav{
   height: 70px;
   width: 100%;
   background: linear-gradient(90deg, rgb(167, 103, 167),rgb(3, 3, 7));
   display: flex;
   justify-content: flex-start;
   padding-left: 3px;
   padding-top: 37px;
   border-bottom: 4px solid rgb(88, 11, 88);
}

ul{
   float: inline-start;
   padding: 6px;
   margin-right: 1px;
   font-family: "Prompt";
   font-size: 16px;
   font-weight:400 ;

}

a{
   color: antiquewhite;
   text-decoration: none;
}
a:hover{
   border-radius: 3px;
   background-color: rgb(133, 47, 82);
   padding: 6px;
   text-decoration: underline;
}
.foto_ia{
   width: 100%;
   box-shadow: 5px 15px 20px  rgb(1, 1, 37);
}
.titulo_sistemas{
   display: flex;
   justify-content: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 55px;
   color: rgb(68, 47, 18);
}

/* SECCION 1 */
.seccion1{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   
}
.cuadrado_s1{
   padding: 15px;
   margin: 10px;
}
.cuadrado_s1:hover{
   background-color: rgb(248, 248, 247);
   border: 1px solid rgb(253, 252, 252);
  box-shadow: 5px 5px 20px rgb(192, 190, 190);
  border-radius: 20px 80px;
}
.cuadrado_s1 h2 {
   font-family: "Rubik";
   display: flex;
   justify-content: center;
   margin:10px ;
   color: rgb(20, 20, 20);
}
audio{
   margin-top: 5%;
}

.s1_audio {
   display: flex;
   justify-content: center;
}

/* SECCION 2 */
.seccion2{
   width: 99%;
   display: flex;
   justify-content: space-around;
   background-image: url("https://itbrief.com.au/uploads/story/2023/07/04/GettyImages-1468068287.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   box-shadow: 10px 30px 35px rgb(32, 144, 209);
   border-radius: 55px;
   padding: 2%;
}
.cuadrado_izq_s2{
   font-family: "Rubik";
   font-size: 28px;
   text-decoration: underline;
   flex: 50%;
   justify-content: center;
   color: rgb(255, 255, 255);
   padding: 2%;
  
}
.cuadrado_der_s2{
   flex: 50%;
   justify-content: center;
   font-family: "Inconsolata";
   font-size: 20px;
   color: rgb(224, 220, 220);
   padding: 2%;
}

/* SECCION 3 */
.seccion3{
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   margin: 5% 0;
}
.red_neuronal{
   flex: 30%;
   padding: 5%;
}
.red_neuronal img{   
   display: flex;
   justify-content: left;
   height: 40%;
   width: 100%;
}
.atomo img{
   height: 60%;
   width: 50%;
   position: relative;
   padding: 5% 0;
}
.cuadrado_der_s3{
   display: flex;
   flex-direction:column;  
   flex: 70%;
   padding: 5%;
}
.cuadrado_der_s3 h2{
  font-family: "Rubik";
  font-size: 28px;
}

/* SECCION 4 */
.seccion4{
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
   margin: 2%;
}
.cuadrado_izq_s4{

}
.cuadrado_izq_s4 img{
   width: 100%;
   height: 100%;
}
.cuadrado_der_s4{

}
.cuadrado_der_s4 h2{
   font-family: "Rubik";
   font-size: 28px;
}

/* SECCION 5 */
.seccion5{
   display: flex;
   flex-direction: row;
   margin: 2%;
}
.cuadrado_der_s5{

}
.cuadrado_der_s5 img{
   width: 100%;
   height: 100%;
}
.cuadrado_izq_s5{
   align-content: center;
}
.cuadrado_izq_s5 h2{
}

/* SECCION 6 */
.seccion6{
   display: flex;
   flex-direction: row-reverse;
   margin: 2%;
}
.cuadrado_izq_s6{

}
.cuadrado_izq_s6 img{
   width: 100%;
   height: 100%;
}
.cuadrado_der_s6{
   align-content: center;
}
.cuadrado_der_s6 h2{
   font-family: Rubik, Verdana, Tahoma, sans-serif;
}

.pie{
   background: -webkit-linear-gradient(90deg, #f3dfe3 10%, #dadbeb 90%)
}

.log{
   display: flex;
   align-items: center;
   gap: 10px;
  
}

span{
   font-size: 23px;
}

.fb{
   background: rgb(49, 93, 238);
   padding: 8px;
   border-radius: 50px;
   color: white;
  

}

.tw{
   background: rgb(79, 134, 236);
   padding: 8px;
   border-radius: 50px;
   color: white;
}
.li{
   background: rgb(7, 31, 167);
   padding: 8px;
   border-radius: 50px;
   color: white;
}
.yt{
   background: rgb(228, 12, 40);
   padding: 8px;
   border-radius: 50px;
   color: white;
}

/*footer*/

.header1{
   display: flex;
   justify-content: space-between;
   padding: 20px;
   align-items: center;
}


.logotipo{
   font-size: 18px;
   color: rgb(86, 151, 236);
}


.section7{
   display: flex;
   justify-content: space-evenly;
   gap: 40px;
}

.section7 div{
   display: flex;
   flex-direction: column;
   
}

div h2{
   color: rgb(7, 7, 7);
   display: flex;
   justify-content: space-evenly;
   gap: 40px;
   padding: 10PX 0;
} 

a{
   display: flex;
   justify-content: space-evenly;
   gap: 40px;
   color: black;
   text-decoration: none;
   padding: 5px;
  
}

form{
   display: flex;
   flex-direction: column;
   border-radius: 50px;
   gap: 10px;
}
input{
   background: #f0f0f0;
   border: solid 2px; 
   padding: 7px ;
}
button{
   padding: 10px 20px;
   background:#f0f0f0 ;
   color: rgb(86, 151, 236);;
}

.grow-container{
   display: flex;
   justify-content: space-between;
   padding: 20px;
   background: -webkit-linear-gradient(90deg, #dadbebe0 10%, #f3dfe3d0 90%);
}


@media only screen and (max-width: 600px) {
   .cuadrado_s1 {
      display: flex;
      flex-direction: column;
   }
   .seccion2 {
      flex-direction: column;
   }
   .cuadrado_der_s2 .cuadrado_izq_s2{
      flex: 100%;
   }
   .seccion3{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
   }
   .seccion4{
      flex-direction: column-reverse;
   }
   .seccion5{
      flex-direction: column-reverse;
   }
   .seccion6{
      flex-direction: column-reverse;
   }
 }

